body{
margin:0px;
    padding:0px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    font-family:  sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2015/01/07/16/37/wood-591631_1280.jpg);
}

h4{
    font-size: 45px;
    font-style: oblique;
    font-stretch: narrower;
}
h1{
    font-size: 45px;
    font-style:italic;
    font-stretch: narrower;
}
button:hover{
    background-color: blueviolet;
    cursor: pointer;
    box-sizing: content-box;

}
span{
    font-style: oblique;
    color:blue;
}

